@charset 'utf-8';
@import url('notosanskr/NotoSansKR.css');

@font-face {
    font-family: 'Cafe24Danjunghae';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Danjunghae.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

img {
    border: 0;
    vertical-align: middle;
}

ul,
li {
    list-style: none;
}

html {
    font-size: 10px;
    overflow-x: hidden;
}

body {
    background-color: #feffc4;
}

/* 모달창 */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 99999;
}

.modal-cont {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 40rem;
    height: 25rem;
    background-color: #feffc4;
    border-radius: 20px;
}

.modal-close {
    color: #fff;
    font-family: 'Noto Sans KR';
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
    line-height: 2.5;

    content: '';
    position: absolute;
    top: 20rem;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 10rem;
    height: 3.3rem;
    background-color: #000;
    cursor: pointer;
}

.modal-cont span {
    position: absolute;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    font-family: 'Noto Sans KR';
    font-size: 1.5rem;
    font-weight: 500;
    color: #121212;
    text-align: center;
    line-height: 2;
}

.clearfix:after {
    content: '';
    position: relative;
    display: block;
    width: 100%;
    clear: both;
}

.wrap {
    position: relative;
    display: block;
    margin: 0 atuo;
    z-index: 9999;
}

/* 상단 영역 */
.header {
    position: relative;
    display: block;
}

.logo {
    position: absolute;
    top: 2.5rem;
    left: 10rem;
    display: block;
}

.gnb {
    position: relative;
    display: block;
}

.menu-list {
    position: absolute;
    top: -9.5rem;
    left: 50%;
    transform: translateX(-50%);
    display: block;
}

.menu-list li {
    float: left;
}

.menu-list li a {
    font-family: 'Noto Sans KR';
    font-size: 2rem;
    font-weight: 700;
    margin-right: 9rem;
    line-height: 2;
    text-align: center;
}

/* 비주얼 영역 */
.visual {
    position: relative;
    display: block;
    width: 100%;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-wraper {}

.swiper-slide {
    background-image: cover;
}

.swiper-button-prev {
    color: #000;
}

.swiper-button-next {
    color: #000;
}

/* 메뉴 영역 */
.menu {
    position: relative;
    display: block;
}

.swiper-button-next {
    margin-right: 35.5rem;
    margin-top: 1rem;
    color: #855544;
}

.swiper-button-prev {
    margin-left: 34rem;
    margin-top: 0.8rem;
    color: #855544;
}

/* 이벤트 영역 */
.event {
    position: relative;
    display: block;
}

.event-n {
    position: absolute;
    top: 35rem;
    right: -3rem;
    display: block;
    color: #855544;
}

.event-p {
    position: absolute;
    top: 35.5rem;
    left: -10.5rem;
    display: block;
    color: #855544;
}

/* 매장찾기 영역 */
.find {
    position: relative;
    display: block;
}

/* 영상 영역 */
.view {
    position: relative;
    display: block;
}

/* 하단 영역 */
.footer {
    position: relative;
    display: block;
}